@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --font: "DM Sans", sans-serif;
  --colorText: #372f3f;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#container {
  background-color: hsl(0, 0%, 93%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(5, 5, 5, 0.9);
  border-radius: 20px;
}

form#search {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 4px 12px;
}

form#search input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
}

form#search input:focus-visible {
  outline: none;
}

#search button {
  border: none;
  font-size: 16px;
}

#weather {
  /* display: none; */
  margin-top: 20px;
}

#weather.show {
  display: block;
}

#weather #title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
  color: var(--colorText);
}

div#temp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background: linear-gradient(90deg, #5a7cfc, #606dde);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
}

#temp-img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#temp-value {
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
}

#temp-description {
  font-weight: 500;
  text-transform: capitalize;
}

div#other-infos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

#other-infos .info {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 90%);
  gap: 10px;
}

#other-infos .info h2 {
  font-size: 13px;
  font-weight: 800;
  color: var(--colorText);
}

#other-infos .info i {
  text-align: center;
  font-size: 20px;
  width: 20%;
}

#temp-max-icon {
  color: brown;
}

#temp-min-icon {
  color: skyblue;
}

#humidity-icon {
  color: cadetblue;
}

#wind-icon {
  color: slateblue;
}

#temp-max,
#temp-min,
#humidity,
#wind {
  font-weight: 400;
  color: var(--colorText);
}
